/* CSS declarations go here */

body, html {
  height: 100%;
  text-align: center;
}

.carousel{
  z-index: -1;
}

.card-deck{
   max-width: 1200px;
   margin:auto;
   text-align: center;
   font-family: arial;
   /* padding-left: 20px; */

 }

.carousel-inner > .carousel-item > img {
  height: 100vh;
  max-width:100%;
  background-position: center;
}

/* .carousel-item {
  height: 100vh;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

a{
  color: white;
  text-decoration: underline;
  transition: .5s;
}

a:hover{
  color: steelblue;
}


.navbar{
  background-color: white;
}

.upper{
  background-color: #e0e0e0;
}

.lower{
  background-color: #c0c0c0;
}

.icon{
  padding-right: 15px;
  padding-left: 15px;
}

.search{
  align-content: center;
  z-index: 100;
  position: center;
}

.carousel-search{
  position: relative;
}

/* .bar{
  position: absolute;
  padding-left: 5000px;
} */

input[type=text] {
  position: absolute;
  left: 30%;
    top: 45%;
    width: 100%;
    /* text-align: left; */
    font-size: 30px;
    outline-color: white;
  border: 3px solid white;
  border-radius: 3px;
  height: 50px;
  background: transparent;
  width: 40%;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.artist-link{
  z-index: 2;
}