/* CSS declarations go here */

body, html {
  height: 100%;
  text-align: center;
}

.carousel{
  z-index: -1;
}

.card-deck{
   max-width: 1200px;
   margin:auto;
   text-align: center;
   font-family: arial;
   z-index: -1;
 }

.carousel-inner > .carousel-item > img {
  height: 100vh;
  max-width:100%;
  background-position: center;
}

a{
  color: #a7c9f0;
  transition: .5s;
}

a:hover{
  color: steelblue;
}


.navbar{
  background-color: white;
}

.upper-footer{
  background-color: #e0e0e0;
}

.lower-footer{
  background-color: #c0c0c0;
}

.icon{
  padding-right: 15px;
  padding-left: 15px;
}

.search{
  align-content: center;
  z-index: 100;
  position: center;
}

.carousel-search{
  position: relative;
}

#search-bar {
  position: absolute;
  left: 30%;
  top: 45%;
  width: 40%;
  font-size: 30px;
  outline-color: white;
  border: 3px solid white;
  border-radius: 3px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 7px;
  padding-right: 7px;
}

::-webkit-input-placeholder { 
  color: white;
}
::-moz-placeholder { 
  color: white;
}
:-ms-input-placeholder { 
  color: white;
}
:-moz-placeholder { 
  color: white;
}

.artist-link{
  z-index: 1;
}

.trans-nav{
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.nav-link , .artist-link{
  color: white;
}


.navbar-two{
  background-color: #a7c9f0;
  position: sticky;
  top:0;
  z-index: 1;
  width: 100%;
}

.footer-head{
  padding-top: 10px;
}

.about-page-img{
  height: 90vh;
  width:100%;
  background-position: center;
  position: absolute;
  z-index: -99;
  left: 0;
}

.about-page-text{
  top:35%;
  position: absolute;  
  color: white;
  width: 100%;
}

.mask{
  height:100vh;
  width:100%;
  background-color: rgba(0, 0, 0, .5);
  /* position: absolute;
  left: 0; */
}

.mask2{
  height:90vh;
  width:100%;
  background-color: rgba(0, 0, 0, .7);  
}

.mask3{
  height:100vh;
  width:100%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
}


.img{
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 100%;

}

.about-text{
  margin-top: 20px;
  padding-top: 10px ;
  background-color: #e0e0e0;
  width: 100%;
}

.meet-the-team{
  margin: 20px;
}

.artist-signup-img{
  height: 100vh;
  width:100%;
  background-position: center;
  position: absolute;
  left: 0;
  z-index: -1;
}

.artist-signup-form{
 position: absolute;
 top: 50%; 
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 10px;
 margin-right: 10px
}

label{
  color: white;
  padding: 10px;
}

.artist-reg{
  margin-bottom:10px ;
  color: white
}

.form-control{
  width: 75%;
  margin-left: 15%;
  outline-color: white;
  border: 3px solid white;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 7px;
  padding-right: 7px;
}

.form-control2{
  height: 50px;
  width: 400px;
  outline-color: white;
  border: 3px solid white;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 7px;
  padding-right: 7px;
}

.login{
  padding: 30px;
}